@media (max-width: 670px) {
    
    .img-background {
        background-size: cover;
    }

    .cv-titre {
        font-size: 2.5rem;
    }

    .cv-resp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cv-nowrap {
        display: flex;
        white-space: nowrap;
   }

    .cv-bot {
        color: aliceblue;
    }


}