@media (max-width: 670px) {
    
    

    .cv-titre {
        font-size: 3rem;
    }

    .cv-resp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cv-bot {
        color: aliceblue;
    }
}